interactions:
- request:
    body: grant_type=refresh_token&refresh_token=old_oh_refresh_token
    headers:
      Authorization: [Basic oh_auth]
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://www.openhumans.org/oauth2/token/
  response:
    body: {string: '{"access_token": "new_oh_access_token", "expires_in":
        36000, "token_type": "Bearer", "refresh_token": "new_oh_refresh_token",
        "scope": "write pgp read wildlife open-humans go-viral american-gut"}'}
    headers:
      Content-Language: [en]
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: grant_type=refresh_token&refresh_token=old_moves_refresh_token&client_id=moves_client_id&client_secret=moves_client_secret
    headers:
      Authorization: [Basic moves_auth]
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.moves-app.com/oauth/v1/access_token
  response:
    body: {string: '{"access_token":"new_moves_access_token","token_type":"bearer","expires_in":15551998,"refresh_token":"new_moves_refresh_token","user_id":12345678}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://www.openhumans.org/api/direct-sharing/project/exchange-member/?access_token=new_oh_access_token
  response:
    body: {string: '{"created":"2018-01-19T21:55:40.049169Z","project_member_id":"23456789","message_permission":true,"sources_shared":[],"data":[]}'}
    headers:
      Allow: ['GET, HEAD, OPTIONS']
      Content-Language: [en]
      Content-Type: [application/json]
      Last-Modified: ['Wed, 25 Apr 2018 20:33:39 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.moves-app.com/api/1.1/user/profile?access_token=new_moves_access_token
  response:
    body: {string: '{"userId":12345678,"profile":{"firstDate":"20160616","currentTimeZone":{"id":"America/Los_Angeles","offset":-25200},"localization":{"language":"en-DE","locale":"en_DE","firstWeekDay":2,"metric":false},"caloriesAvailable":false,"platform":"ios"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Etag: [W/"35ff533a96afaa42ccf6ba9fe423077d"]
      X-RateLimit-HourLimit: ['4000']
      X-RateLimit-HourRemaining: ['3998']
      X-RateLimit-MinuteLimit: ['120']
      X-RateLimit-MinuteRemaining: ['119']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.moves-app.com/api/1.1/user/storyline/daily/2016-W24?trackPoints=true&access_token=new_moves_access_token
  response:
    body: {string: "[{\"date\":\"20160616\",\"summary\":null,\"segments\":null},{\"date\":\"20160617\",\"summary\":[{\"activity\":\"walking\",\"group\":\"walking\",\"duration\":2400.0,\"distance\":1759.0,\"steps\":992},{\"activity\":\"car\",\"group\":\"transport\",\"duration\":926.0,\"distance\":9432.0},{\"activity\":\"transport\",\"group\":\"transport\",\"duration\":1636.0,\"distance\":29121.0}],\"segments\":[{\"type\":\"place\",\"startTime\":\"20160617T015148-0700\",\"endTime\":\"20160617T093531-0700\",\"place\":{\"id\":295634611,\"name\":\"Work\",\"type\":\"work\",\"location\":{\"lat\":50.17245925464375,\"lon\":8.6273515414181}},\"activities\":[{\"activity\":\"walking\",\"group\":\"walking\",\"manual\":false,\"startTime\":\"20160617T020334-0700\",\"endTime\":\"20160617T020420-0700\",\"duration\":46.0,\"distance\":35.0,\"steps\":70,\"trackPoints\":[]},{\"activity\":\"walking\",\"group\":\"walking\",\"manual\":false,\"startTime\":\"20160617T030439-0700\",\"endTime\":\"20160617T030941-0700\",\"duration\":302.0,\"distance\":226.0,\"steps\":19,\"trackPoints\":[]},{\"activity\":\"walking\",\"group\":\"walking\",\"manual\":false,\"startTime\":\"20160617T040000-0700\",\"endTime\":\"20160617T040227-0700\",\"duration\":147.0,\"distance\":118.0,\"steps\":157,\"trackPoints\":[]},{\"activity\":\"walking\",\"group\":\"walking\",\"manual\":false,\"startTime\":\"20160617T050625-0700\",\"endTime\":\"20160617T050806-0700\",\"duration\":101.0,\"distance\":50.0,\"steps\":85,\"trackPoints\":[]},{\"activity\":\"walking\",\"group\":\"walking\",\"manual\":false,\"startTime\":\"20160617T062626-0700\",\"endTime\":\"20160617T062658-0700\",\"duration\":32.0,\"distance\":16.0,\"steps\":0,\"trackPoints\":[]},{\"activity\":\"walking\",\"group\":\"walking\",\"manual\":false,\"startTime\":\"20160617T080944-0700\",\"endTime\":\"20160617T081139-0700\",\"duration\":115.0,\"distance\":57.0,\"steps\":84,\"trackPoints\":[]},{\"activity\":\"walking\",\"group\":\"walking\",\"manual\":false,\"startTime\":\"20160617T090157-0700\",\"endTime\":\"20160617T090518-0700\",\"duration\":201.0,\"distance\":150.0,\"steps\":169,\"trackPoints\":[]}],\"lastUpdate\":\"20170412T074118Z\"},{\"type\":\"move\",\"startTime\":\"20160617T093531-0700\",\"endTime\":\"20160617T093712-0700\",\"activities\":[{\"activity\":\"car\",\"group\":\"transport\",\"manual\":true,\"startTime\":\"20160617T093531-0700\",\"endTime\":\"20160617T093712-0700\",\"duration\":101.0,\"distance\":1018.0,\"trackPoints\":[{\"lat\":50.172459,\"lon\":8.6273515,\"time\":\"20160617T093531-0700\"},{\"lat\":50.17405,\"lon\":8.6299249,\"time\":\"20160617T093559-0700\"},{\"lat\":50.174746,\"lon\":8.6320155,\"time\":\"20160617T093615-0700\"},{\"lat\":50.175247,\"lon\":8.6329402,\"time\":\"20160617T093632-0700\"},{\"lat\":50.177965,\"lon\":8.6290568,\"time\":\"20160617T093712-0700\"}]}],\"lastUpdate\":\"20160617T205150Z\"},{\"type\":\"place\",\"startTime\":\"20160617T093732-0700\",\"endTime\":\"20160617T095211-0700\",\"place\":{\"id\":295850210,\"name\":\"RiedbergZentrum\",\"type\":\"facebook\",\"facebookPlaceId\":\"154124874625311\",\"location\":{\"lat\":50.17687,\"lon\":8.6292}},\"lastUpdate\":\"20160617T173408Z\"},{\"type\":\"move\",\"startTime\":\"20160617T095211-0700\",\"endTime\":\"20160617T100556-0700\",\"activities\":[{\"activity\":\"car\",\"group\":\"transport\",\"manual\":true,\"startTime\":\"20160617T095211-0700\",\"endTime\":\"20160617T100556-0700\",\"duration\":825.0,\"distance\":8414.0,\"trackPoints\":[{\"lat\":50.17687,\"lon\":8.6292,\"time\":\"20160617T095211-0700\"},{\"lat\":50.17886,\"lo[...]
[...]
- request:
    body: project_member_id=23456789&file_basename=moves-storyline-data.json
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://www.openhumans.org/api/direct-sharing/project/files/delete/?access_token=new_oh_access_token
  response:
    body: {string: '{"ids":[]}'}
    headers:
      Allow: ['POST, OPTIONS']
      Content-Language: [en]
      Content-Type: [application/json]
      Last-Modified: ['Wed, 25 Apr 2018 20:34:36 GMT']
    status: {code: 200, message: OK}
- request:
    body: project_member_id=23456789&metadata=%7B%22description%22%3A+%22Moves+GPS+maps%2C+locations%2C+and+steps+data.%22%2C+%22tags%22%3A+%5B%22GPS%22%2C+%22Moves%22%2C+%22steps%22%5D%2C+%22updated_at%22%3A+%222018-04-25+20%3A34%3A35.816531%22%7D&filename=moves-storyline-data.json
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://www.openhumans.org/api/direct-sharing/project/files/upload/direct/?access_token=new_oh_access_token
  response:
    body: {string: '{"url":"https://myawslink.com/member-files/direct-sharing-1337/1/moves-storyline-data.json?Signature=signature&Expires=1524710078&AWSAccessKeyId=awskey","id":40330}'}
    headers:
      Allow: ['POST, OPTIONS']
      Content-Language: [en]
      Content-Type: [application/json]
      Last-Modified: ['Wed, 25 Apr 2018 20:34:38 GMT']
    status: {code: 201, message: Created}
- request:
    body: !!python/object/new:_io.BytesIO
      state: !!python/tuple
      - !!binary |
        W3siZGF0ZSI6ICIyMDE2MDYxNiIsICJzdW1tYXJ5IjogbnVsbCwgInNlZ21lbnRzIjogbnVsbH0s
        YXN0VXBkYXRlIjogIjIwMTcwNTIyVDE3MTAxNVoifV0sICJsYXN0VXBkYXRlIjogIjIwMTcwNTI5
        VDIwMzMxMFoifV0=
      - 0
      - null
    headers:
    method: PUT
    uri: https://myawslink.com/member-files/direct-sharing-1337/1/moves-storyline-data.json?Signature=signature&Expires=1524710078&AWSAccessKeyId=awskey
  response:
    body: {string: ''}
    headers:
      ETag: ['"5d469c12b7ab2c40b4684458a7ef4cd6"']
      x-amz-request-id: [3ACDCAA59790B16F]
      x-amz-version-id: [9.sK3DBtbNMyMfipWUHD2e8JsOMz2IFc]
    status: {code: 200, message: OK}
- request:
    body: project_member_id=23456789&file_id=40330
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://www.openhumans.org/api/direct-sharing/project/files/upload/complete/?access_token=new_oh_access_token
  response:
    body: {string: '{"status":"ok","size":10516796}'}
    headers:
      Allow: ['POST, OPTIONS']
      Content-Language: [en]
      Content-Type: [application/json]
      Last-Modified: ['Wed, 25 Apr 2018 20:34:40 GMT']
    status: {code: 200, message: OK}
version: 1
