.output_png img {
    max-width:550px;
    margin: auto;
  }

.dataframe {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.output_html {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
