  body {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .navbar {
    margin-bottom: 20px;
  }
  /* Sticky footer styles
-------------------------------------------------- */
html {
position: relative;
min-height: 100%;
}
body {
/* Margin bottom by footer height */
margin-bottom: 60px;
}
.footer {
position: absolute;
bottom: 0;
width: 100%;
/* Set the fixed height of the footer here */
height: 60px;
background-color: #f5f5f5;
}
.fcontainer .text-muted {
padding: 0 15px;
margin: 20px 0;
}
