{% extends 'main/base.html' %}
{% load static %}
{% block content %}

  <div class="container">
    <h1>Your Notebook Gallery</h1>
    <p class="lead">
      See which notebooks you have shared and can share.
    </p>
    <div class="row">
      <div class="col-md-6">
        <p>
          <h4>Notebooks in your Open Humans accounts that can be shared</h4>
        {% for nb_file in notebook_files%}
          <a href="{% url 'add-notebook-gallery' nb_file.id %}">Add <code>{{nb_file.basename}}</code></a></br>
        {%endfor%}
        </p>
      </div>
      <div class="col-md-6">
        <p>
          <h4>Notebooks you have already published in the gallery</h4>
        </p>
        {% if existing_notebooks %}
          {%for notebook in existing_notebooks%}
          <code>{{notebook.notebook_name}}</code>
            <a href="{% url 'render-notebook' notebook.id %}">(preview)</a>
            <a href="{% url 'export-notebook' notebook.id %}">(export)</a>
          </br>
          {%endfor%}
        {%else%}

          No data available yet.
        </a>
        <p>If you have recently connected your RescueTime account it can take a bit
          until we have gathered your data. Please come back later.</p>
        {%endif%}
      </div>
    </div>
  </div>

{% endblock %}
