{% extends 'main/base.html' %}
{% load static %}
{% block content %}

  <div class="container">
    <div class="jumbotron">
      <h1>Juno's <i>Personal Data Exploratory</i></h1>
      <p>
        📊📓 Personal Data Notebooks allow you to explore and analyze your personal data that is stored in <i>Open Humans</i>
        right in your web browser. The <i>Exploratory</i> allows you to find and use interesting notebooks right away.
      </p>
  </div>
    <div class="row">
      <div class="col-md-5">
        <h2>Data Sources</h2>
        <p>
          The <i>Exploratory</i> contains ready-to-use notebooks for many different data sources which are on Open Humans.
          Click the buttons below to find notebooks that make use of the different data sources:
        </p>


        <ol>
          <li><b>Click <i>Get Started</i> below</b><br>
            This will take you to the <i>Open Humans</i> website.</li>
          <li><b>Authorize this app</b><br>
            This authorizes us to look at all the notebooks you have uplaoded to Open Humans.</li>
          <li><b>Start sharing!</b><br>
            After logging in
          </li>
        </ol>
        <p>
          Learn more in our FAQ
        </p>
        <p>
        <a
          {% if client_id %}
          class="btn btn-primary btn-lg"
          href="https://www.openhumans.org/direct-sharing/projects/oauth2/authorize/?client_id={{ client_id }}&response_type=code&redirect_uri={{ redirect_uri }}"
          {% else %}
          class="btn btn-default disabled"
          {% endif %}
          >
          Get started
        </a>
        {% if not client_id %}
        <p class="text-muted"><i>
          This button is disabled because client_id hasn't been configured.
        </i></p>
        {% endif %}
      </div>
      <div class='col-md-7'>
        <h2>The latest notebook additions</h2>
        Check out the latest notebooks that have been shared by our community.
        <div class="table-responsive">
        <table class='table'>
          <thead>
            <tr>
              <th>Title</th>
              <th>Data sources</th>
              <th>Updated</th>
            </tr>
          </thead>
          <tbody>
            {%for notebook in latest_notebooks%}
            <tr>
              <td>
                <a href="{%url 'notebook-details' notebook.id%}">
                  <code>{{notebook.notebook_name}}</code>
                  <small>by {{notebook.oh_member.oh_username}} </small><i class="fas fa-info-circle"></i>
                </a>
              </td>
              <td>
                {%for source in notebook.get_data_sources_json%}
                <a href="{%url 'search' %}?search_term={{source}}&search_field=data_sources">
                <span class="label label-info">{{source}}</span>
                </a>
                {%endfor%}
              </td>
              <td>{{notebook.updated_at|timesince}} ago</td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
        </div>
      </div>
    </div>
</div>
{% endblock %}
