{% extends 'main/base.html' %}
{% load static %}
{% block content %}

  <div class="container">
    <h1>Explore the <i>Personal Data Notebooks</i> that users of <i>Open Humans</i> have shared</h1>
    <p class="lead">
      By logging in into the gallery you can share your own Personal Data Notebooks.
      Learn more by visiting our
      <a href="{{ oh_proj_page }}">page on Open Humans</a>.
    </p>
    <div class="row">
      <div class="col-md-6">
        <h2>How it works</h2>
        <ol>
          <li><b>Click the button below</b><br>
            This logs you in into your Open Humans account.</li>
          <li><b>Authorize this app in Open Humans</b><br>
            This authorizes us to look at the notebooks you have privately stored on Open Humans.</li>
          <li><b>Start sharing your notebooks!</b><br>
            Share what you have built!
          </li>
        </ol>
        <a
          {% if client_id %}
          class="btn btn-primary btn-lg"
          href="https://www.openhumans.org/direct-sharing/projects/oauth2/authorize/?client_id={{ client_id }}&response_type=code&redirect_uri={{ redirect_uri }}"
          {% else %}
          class="btn btn-default disabled"
          {% endif %}
          >
          Get started
        </a>
        {% if not client_id %}
        <p class="text-muted"><i>
          This button is disabled because client_id hasn't been configured.
        </i></p>
        {% endif %}
      </div>
      <div class='col-md-6'>
        <h2>The latest notebook additions</h2>
         <p class='lead'> Content will be here!</p>
      </div>
    </div>
</div>
{% endblock %}
