{% extends 'main/base.html' %}
{% block content %}
{% load static %}
{% load utilities %}

<h1>
  Details for <code>{{notebook.notebook_name}}</code>
  <a href='{% url 'open-notebook' notebook.id %}?target=voila'><button type="button" class="btn btn-primary">Open <i class="fas fa-external-link-alt"></i></button></a>
  <a href='{% url 'open-notebook' notebook.id %}'><button type="button" class="btn btn-info">Edit & Run <i class="fas fa-pencil-alt"></i></button></a>
</h1>
<h4><small>
  Published by
  <a href="{%url 'search' %}?search_term={{notebook.oh_member.oh_username}}&search_field=username">
  <i>{{notebook.oh_member.oh_username}}</i>
  </a>
  {%if notebook.master_notebook%}
  (This notebook is an edited copy of
    <a href="{%url 'notebook-details' notebook.master_notebook.id%}">{{notebook.master_notebook.oh_member.oh_username}}'s notebook</a>)
  {%endif%}
</small></h4>
<div class="row">
  <div class="col-md-5">
    <p>
    <h4><i class="fas fa-book-open"></i> Description</h4>
    {{notebook.description|markdown}}
    </p>
    <h3>
      <button data-toggle="tooltip" data-container='body' data-placement="top" title='Number of views' class="btn btn-default btn-xs"><i class="fas fa-eye"></i> {{notebook.views}}</button>
      {%if request.user.is_authenticated %}
      <form action="{% url 'like-notebook' notebook.id %}" method="post">
        {% csrf_token %}
        <button type="submit" value="like_notebook" data-toggle="tooltip" data-container='body' data-placement="top" title='Number of Likes. Press to {%if liked%}un{%endif%}like.' class="btn btn-default btn-xs"><i class="fa{%if liked%}s{%else%}r{%endif%} fa-heart"></i> {{notebook.notebooklike_set.all|length}}</button>
      </form>
      {%else%}
      <a class="btn btn-default btn-xs" href="https://www.openhumans.org/direct-sharing/projects/oauth2/authorize/?client_id={{ client_id }}&response_type=code&redirect_uri={{ redirect_uri }}"
        data-toggle="tooltip" data-container='body' data-placement="top" title='Number of Likes. Please log in to like.'><i class="far fa-heart"></i> {{notebook.notebooklike_set.all|length}}</a>
      {%endif%}
    </h3>
    <p>
    <h4><i class="fas fa-tags"></i> Tags & Data Sources</h4>
    {%for tag in notebook.get_tags_json%}
    <a href="{%url 'search' %}?search_term={{tag}}&search_field=tags">
    <span class="label label-primary">{{tag}}</span>
    </a>
    {%endfor%}
    {%for source in notebook.get_data_sources_json%}
    <a href="{%url 'notebook-index'%}?source={{source}}">
    <span class="label label-info">{{source}}</span>
    </a>
    {%endfor%}
    </p>
    <p>
      <a href='{% url 'open-notebook' notebook.id %}'><button type="button" class="btn btn-primary">Run Notebook <i class="fas fa-external-link-alt"></i></button></a>
      <a href='{% url 'open-notebook' notebook.id %}?target=voila'><button type="button" class="btn btn-info">Edit & Run Notebook <i class="fas fa-pencil-alt"></i></button></a>
    </p>
    {% if notebook.master_notebook or other_notebooks%}
    <h4><i class="far fa-copy"></i> Other Notebook Versions</h4>
    <ul>
      {%if notebook.master_notebook%}<li><a href="{%url 'notebook-details' notebook.master_notebook.id%}">{{notebook.master_notebook.oh_member.oh_username}}'s notebook</a> (original notebook)</li>{%endif%}
      {%for other_notebook in other_notebooks%}
      <li><a href="{%url 'notebook-details' other_notebook.id%}">{{other_notebook.oh_member.oh_username}}'s notebook</a></li>
      {%endfor%}
    </ul>
    {%endif%}
    <h4><i class="far fa-comments"></i> Comments</h4>
    {%for comment in notebook.notebookcomment_set.all%}
    <blockquote>
      <p>{{comment.comment_text}}</p>
      <footer>
        <b>
          <a href="https://www.openhumans.org/member/{{comment.oh_member.oh_username}}/">{{comment.oh_member.oh_username}}</a>
        </b>, {{comment.created_at|timesince}} ago
      </footer>
    </blockquote>
        {%endfor%}
        {% if request.user.is_authenticated %}
        <form action="{% url 'add-comment' notebook.pk %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label>Comment</label>
          <textarea class="form-control" rows=4 name="comment_text" size=50 type="text"
            placeholder="Enter your comment here" required></textarea>
            <p class="help-block">
            You have tried this notebook and have feedback?
            Or you have questions for the author? Give it a go!
            </p>
        </div>
        <input type="submit"
                value="Submit Comment"
                style="margin-top:6px;"
                class="btn btn-primary">
        </form>
      </br>
      {%else%}
      Please <a href="https://www.openhumans.org/direct-sharing/projects/oauth2/authorize/?client_id={{ client_id }}&response_type=code&redirect_uri={{ redirect_uri }}">
        log in to comment</a>.
        {%endif%}
  </div>
  <div class="col-md-7">
    <div>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#output" aria-controls="output" role="tab" data-toggle="tab">Output</a></li>
        <li role="presentation"><a href="#code" aria-controls="code" role="tab" data-toggle="tab">Output & Code</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="output">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Notebook <div style='float: right;'><small><i class="far fa-clock"></i> Last updated {{notebook.updated_at|timesince}} ago</small></style></h3>
            </div>
            <div class="panel-body">
              {{codeless_notebook_preview|safe}}
            </div>
          </div>
        </div>
      <div role="tabpanel" class="tab-pane active" id="code">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Notebook <div style='float: right;'><small><i class="far fa-clock"></i> Last updated {{notebook.updated_at|timesince}} ago</small></style></h3>
          </div>
          <div class="panel-body">
            {{notebook_preview|safe}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
