interactions:
- request:
    body: grant_type=refresh_token&refresh_token=bar
    headers:
      Authorization: [Basic heregoesyoursecretkey]
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://www.openhumans.org/oauth2/token/
  response:
    body: {string: '{"expires_in": 36000, "refresh_token": "updatedrefresh",
        "scope": "wildlife write read open-humans american-gut pgp go-viral", "access_token":
        "anewaccesstoken", "token_type": "Bearer"}'}
    headers:
      Content-Language: [en]
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
